/*  Cuerpo de la Pagina */

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    max-width: 100vw;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.contenedor {
    margin-top: 50px;
    margin: auto;
}

/*  TODO EL HEADER */

.logo {
    width: 300px;
    display: flex;
    align-items: center;
}

header {
    background-image: url('../img/portada.jpg');
    height: 800px;
    background-position: center;
    background-attachment: fixed;
}

.menu {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-right: 30px;
}


header a {
    text-decoration: none;
}

header li {
    transition: 0.5s;
    margin-left: 20px;
    border: 1px solid red;
    display: inline-block;
    padding: 20px;
    list-style: none;
    font-weight: bold;

}

header li:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}


.portada {
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.portada .titulo {
    font-size: 120px;
    text-align: center;
    color: #fff;
}

.lineadecoracion {
    width: 700px;
    margin: auto;
    height: 3px;
    background: red;
    margin-bottom: 30px;
    text-align: center;
}

.portada .subtitulo {
    color: #fff;
    font-weight: 300;
    margin-bottom: 30px;
    font-size: 20px;
    text-align: center;
}

.portada .botonprincipal {
    display: inline-block;
    margin: auto;
    color: #fff;
    text-decoration: none;
    border: 2px solid red;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.5s;
}

.portada .botonprincipal:hover {
    background: red;
    color: #fff;
}

/* Pequeño Formulario de busqueda  */

.formulariobusqueda {
    padding: 40px 0;
    background-color: white;
}

.formulariobusqueda .form-group {
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    gap: 15px;
    justify-content: center;
}

.formulariobusqueda form {
    display: flex;
    justify-content: center;
    min-width: 50vh;
    color: black;
}

.formulariobusqueda .form-boton {
    margin-top: 5px;
    font-weight: bold;
    box-shadow: 0px 2px #0000003f;
    background-color: white;
    margin: auto;
    color: black;
    border: 2px solid black;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.5s;

}

.formulariobusqueda .form-submit {

    display: flex;
    justify-content: center;
    margin-left: 20px;
}

.formulariobusqueda .form-boton:hover {
    background-color: #181966;
    cursor: pointer;
    color: white;
}

.formulariobusqueda .form-label {
    margin-bottom: 5px;
}

.formulariobusqueda .form-input {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid black;
    outline-color: black;
    box-shadow: 0px 2px #0000003f;
}

/* Formulario de Iniciar Sesion */

.iniciarsesion {
    background-color: #181966;
    display: flex;
    height: 400px;
}

.iniciarsesion .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    box-shadow: 0px 5px #0000003f;
    border-radius: 5px;
}

.iniciarsesion .form-recordar {
    display: flex;
    flex-direction: row;
    margin-bottom: 7px;
}

.iniciarsesion form {
    display: flex;
    flex-direction: column;
    min-width: 25vw;
    color: #fff;
}

.iniciarsesion .form-boton {
    margin-top: 5px;
    font-weight: bold;
    box-shadow: 0px 5px #0000003f;
    background-color: #181966;
    margin: auto;
    color: #fff;
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.5s;

}

.iniciarsesion .form-submit {

    display: flex;
    justify-content: center;
}

.iniciarsesion .form-boton:hover {
    background-color: white;
    cursor: pointer;
    color: black;
    border: 2px solid black;
}

.iniciarsesion .form-label {
    margin-bottom: 5px;

}

.iniciarsesion .form-input {
    padding: 12px;
    border-radius: 5px;
    border: none;
    outline-color: black;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptexto {
    visibility: hidden;
    width: 150px;
    background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(0, 255, 209, 1) 0%, rgba(12, 160, 255, 1) 21%, rgba(0, 222, 193, 1) 56%, rgba(0, 138, 255, 1) 100%);
    text-align: center;
    border-radius: 63% 37% 66% 34% / 53% 44% 56% 47%;
    padding: 8px;
    position: absolute;
    z-index: 1;
    bottom: -120%;
    left: 50%;
    margin-left: -70px;
    opacity: 0;
    transition: opacity 5s;
}

.tooltip:hover .tooltiptexto {
    visibility: visible;
    opacity: 1;
}

/* Aquí puedes escribir tu comentario */

.portafolio {
    background: #000000;
    padding: 60px 0;
}

.portafolio .portafolio-textos {
    text-align: center;
    margin-bottom: 60px;
    color: white;
    font-size: 20px;
}


.portafolio .galeria {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.portafolio .galeria .fotos img {
    max-width: 50vw;
    max-height: 50vh;
    display: flex;
    border-radius: 5px;
}

.portafolio .galeria .fotos img:hover {
    opacity: 0.5;
    cursor: pointer;
}

.fotos {

    position: relative;
    display: inline-block;
    text-align: center;
}

.texto-encima {
    position: absolute;
    top: 20px;
    font-weight: bold;
    color: white;
    font-size: 15pt;
    left: 20px;
    cursor: pointer;
}

.centrado {
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: bold;
    color: white;
    font-size: 17pt;
    transform: translate(-50%, -50%);
    transition: transform 1.5s;
    cursor: pointer;
}

.centrado:hover {
    transform: scale(1.5);
    color: rgb(91, 255, 91);
    
}


footer .contacto {
    height: 50px;
    background-color: #1C2833;
    padding: 60px 0;
}

footer .footer-textos {
    text-align: center;
    color: #fff;
    font-size: 25px;
}

.footer {
    height: 200px;
    flex-direction: row;
}


/*  Media query */

@media screen and (max-width:850px) {
    header .menu {
        justify-content: center;
        margin-right: 0px;
    }

    .formulariobusqueda .form-group {
        flex-direction: column;
    }

    .formulariobusqueda .form-submit {

        margin-left: 0px;
        margin-top: 10px;
    }

    header .portada .lineadecoracion {
        width: 400px;
    }

    header .portada .subtitulo {
        font-size: 18px;
    }

    header .portada .subtitulo .desaparecer {
        display: none;
    }

    nav li {
        margin-top: 20px;
    }
}

@media screen and (max-width:630px) {
    header .portada .titulo-header {
        font-size: 80px;
    }

    .formulariobusqueda .form-group {
        flex-direction: column;
    }

    header .portada .lineadecoracion {
        width: 400px;
    }

    main .portafolio .galeria .fotos {
        width: 49%;
    }

    nav li {
        margin-top: 20px;
    }
}

@media screen and (max-width: 500px) {
    header .portada .titulo-header {
        font-size: 40px;
    }

    main .iniciarsesion .contenido-cajas .tarjeta {
        width: 48%;
    }

    .formulariobusqueda .form-group {
        flex-direction: column;
    }

    main .contenido-cajas {
        justify-content: center
    }

    main .iniciarsesion .contenido-cajas .tarjeta {
        margin: 20px 0;
    }

    nav li {
        margin-top: 20px;
    }
}

@media screen and (max-width: 350px) {
    main .iniciarsesion .contenido-cajas .tarjeta {
        width: 98%;
    }

    .formulariobusqueda .form-group {
        flex-direction: column;
    }

    header .portada .subtitulo {
        font-size: 15px;
    }

    nav li {
        margin-top: 20px;
    }
}