body
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0%;
    text-decoration: none;
}

/*CABECERA*/
header
{
    min-height: 20vh;
    background-color: #ffffff;
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid black;
}

ul li a
{
    list-style: none;
    text-decoration: none;
    color: black;
}

nav li
{
    margin-top: 40px;
    display: inline-block;
    flex-direction: column;
    font-size: 25px;
    padding: 20px;
}

li
{
    padding: 5px;
    transition: 0.5s;
}
li:hover 
{
    background-color: red;
    color: white;
}

li:hover a
{
    color: white;
}

.derecha
{
    padding: 10px;
    min-width: 50vw;
    text-decoration: none;
}

header>a img
{
    width: 220px;
    height: 220px;
}
/*BUSCADOR*/
.box{
    margin-top: 100px;
    margin-left: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.input {
    padding: 10px;
    width: 80px;
    height: 80px;
    background: none;
    border: 4px solid red;
    border-radius: 50px;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 26px;
    color: white;
    outline: none;
    transition: 0.5s;
}
.box:hover input{
    width: 350px;
    background: #ffffff;
    border-radius: 10px;
    color: red;
}
i{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(-50%,-50%);
    font-size: 26px;
    color: red;
    transition: 0.2s;
}
.box:hover i{
    opacity: 0;
}
/**//**//**//**//**//**//**//**//**//**//**//**//**/

section
{
    min-height: 80vh;
    max-width: 100vw;
}

.actividades
{
    margin-left: 690px;
    min-height: 50vh;
    max-width: 25vw;
    border: 1px solid #2a36383d;
    padding: 12px;
    margin-bottom: 20px;
    display: inline-block;
}

.actividades>img
{
    height: 250px;
    width: 330px;
    margin-left: 65px;
    border-radius: 25px;
    transition: 0.5s;
}

.actividades>img:hover
{
    height: 270px;
    width: 350px;
    box-shadow: 3px 3px 20px rgba(0,0,0,15);
}

footer
{
    min-height: 30vh;
    text-align: center;
    font-size: 18px;
    color: white;
    border-top: 1px solid black;
    background-color: #2a3638;

}

button
{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 15px;
    color: #ffffff;
    background-color: #181966;
    border-radius: 6px;
    border: 2px solid #181966;
    margin-top: 3px;
    transition: 0.3s;
}

button:hover
{
    color: #181966;
    background-color: #ffffff;
}

details.desplegable {
    padding: 1em;
	transition: all 1s ease-in-out;
	max-height: 50px;
    overflow: hidden;
}

details[open].desplegable 
{
    min-height: 57vh;
    background-color: black;
    color: white;
}

details[open].desplegable summary {
	padding-bottom: 1em;
}

details>summary::-webkit-details-marker
{
    display: none;
}

details summary {
    list-style: none;
    cursor: pointer;
}

.actividades>.capilla:hover
{
    height: 270px;
    width: 350px;
    box-shadow: 3px 3px 20px rgba(0,0,0,15);
    content: url("../img/capilla-sixtina-vaticano-roma-t.jpg");
}

aside
{
    max-width: 100vw;
}

h2
{
    text-align: center;
}

section>div
{
    min-height: 25vh;
    max-width: 100vw;
}

.caja
{
    background-color: aliceblue;
    transition: 3s;
}
.caja:hover
{
    box-shadow: 0 0 120px rgba(18, 55, 88, 0.40), 0 0 200px rgba(18, 55, 88, 0.3), 0 0 300px rgba(18, 55, 88, 0.2);
}

.caja>div
{
    float: right;
    padding-right: 35px;
    margin-right: 500px;
}

.caja>div>form
{
    margin-bottom: 30px;
}

.caja>div>div>form>div>input
{
    margin-bottom: 15px;
}

.caja>div>div>form>div>input:first-child
{
    margin-top: 15px;
}

iframe
{
    padding-left: 180px;
}

footer
{
    padding: 20px;
}

.pie
{
    float: left;
    text-align: left;
    border-left: 1px solid #ffffff3d;
    border-right: 1px solid #ffffff3d;
    padding: 5px;
}

.pie>div
{
    padding: 15px;
}
.pie>div>span
{
    padding: 15px;
}

.pie>h3
{
    text-align: center;
}


summary
{
    text-align: center;
}

@media screen and (max-width: 1600px)
{
    section>div
    {
        min-height: 35vh;
        max-width: 100vw;
    }
    .actividades
    {
        margin-left: 580px;
    }
    details[open].desplegable 
    {
        min-height: 69vh;
    }
    .actividades>img
    {
        margin-left: 25px;
    }
}

@media screen and (max-width: 800px)
{
    .box
    {
        padding-right: 400px;
    }
    i
    {
        padding-right: 265px;
    }
    .box:hover input
    {
        width: 200px;
    }
    header
    {
        max-width: 70vw;
    }
    iframe
    {
        margin-top: 20px;
        padding-right: 140px;
        width: 400px;
        height: 250px;
    }
    .caja>div
    {
        margin-right: 120px;
    }
    .actividades
    {
        margin-left: 200px;
        max-width: 45vw;
        min-height: 30vh;
    }
    .actividades>img
    {
        height: 170px;
        width: 230px;
    }
    .actividades>img:hover
    {
        height: 200px;
        width: 280px;
    }
    details[open].desplegable 
    {
        min-height: 47vh;
    }
    .caja>div>form
    {
        margin-bottom: 20px;
    }

    .caja>div>div>form>div>input
    {
        margin-bottom: 10px;
    }
}



























